<div class="regions">
  <div class="row">
    <div class="region europe" (click)="routeTo('europe')">
      <h2 class="region__header">Europe</h2>
      <img
        class="region__logo"
        src="./../../../assets/images/europe.png"
        alt="europe"
      />
    </div>
    <div class="region asia" (click)="routeTo('asia')">
      <h2 class="region__header">Asia</h2>
      <img
        class="region__logo"
        src="./../../../assets/images/asia.png"
        alt="europe"
      />
    </div>
    <div class="region america" (click)="routeTo('america')">
      <h2 class="region__header">America</h2>
      <img
        class="region__logo"
        src="./../../../assets/images/america.png"
        alt="europe"
      />
    </div>
  </div>
  <div class="row">
    <div class="region africa" (click)="routeTo('africa')">
      <h2 class="region__header">Africa</h2>
      <img
        class="region__logo"
        src="./../../../assets/images/africa.png"
        alt="europe"
      />
    </div>
    <div class="region oceania" (click)="routeTo('oceania')">
      <h2 class="region__header">Oceania</h2>
      <img
        class="region__logo"
        src="./../../../assets/images/oceania.png"
        alt="europe"
      />
    </div>
  </div>
</div>
