<div class="about">
  <div class="about__header">
    <h3>O mnie</h3>
    <img
      mat-dialog-close
      class="about__close"
      src="./../../../assets/images/icon-close.svg"
      alt="close-button"
    />
  </div>

  <div mat-dialog-content class="about__content">
    <p class="text">Cześć, jestem Michał.</p>
    <p class="text">
      Jest to mała aplikacja do przeglądania informacji o regionach i krajach.
    </p>
    <p class="text">
      Technologie: Angular, Angular Material, TypeScript, HTML, SCSS
    </p>
  </div>
</div>
